* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #b3abab;
}
.navbar h1 {
  color: rgb(0, 123, 255);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: rgb(0, 123, 255);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* task previews / list */
.task-preview {
  border: 1px solid #d5d6da;
  border-radius: 10px;
  padding: 10px 16px;
  margin: 20px 0;
}
.task-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}
.task-preview h2 {
  font-size: 20px;
  color: rgb(0, 123, 255);
  margin-bottom: 8px;
}
.task-preview a{
  text-decoration: none;
}

/* task details page */
.task-details h2 {
  font-size: 25px;
  color: rgb(0, 123, 255);
  margin-bottom: 10px;
}
.task-details div {
  margin: 20px 0;
}
.task-details button {
  background: rgb(0, 123, 255);
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new task form */
.createtask {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.createtask-label {
  text-align: left;
  display: block;
}
.createtask h2 {
  font-size: 20px;
  color: rgb(0, 123, 255);
  margin-bottom: 30px;
}
.createtask input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #cdcdcf;
  border-radius: 6px;
  box-sizing: border-box;
  display: block;
}
.createtask textarea{
  width: 100%;
  min-height: 200px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #cdcdcf;
  border-radius: 6px;
  box-sizing: border-box;
  display: block;
}
.createtask button {
  background: rgb(0, 123, 255);
  color: white;
  font-weight: 500;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}